In [3]:
def obj_func():
    dataset = pd.read_csv('MG_Hourly_data.csv',encoding='latin1')
    MT_Pmax = 30
    nsum=0
    sum=0
    Ui = 1
    l=[]
    peak = ["08H00","09H00","10H00","11H00","12H00","13H00","14H00","15H00","16H00","17H00"]
    for j in range(24):
        for i in range(1):
            if dataset['Hour'][j] in peak:
                Ui = 1
                sum1 = (Ui * dataset['PV_Pmax'][j] * dataset['PV_cost'][j]) 
            else:
                sum1 = 0
            sum2 = (Ui * dataset['WT_Pmax'][j] * dataset['WT_cost'][j]) 
            sum3 = (Ui * dataset['MT_cost'][j] *  MT_Pmax) 
            sum = sum1 + sum2 + sum3
        nsum +=  sum #operating cost
        l.append(sum)
    return l

In [4]:
import pandas as pd
data = pd.read_csv("MG_Hourly_data.csv")
MT_PMAX = 30

PV_cost = data['PV_cost'].values
WT_cost = data['WT_cost'].values
MT_cost = data['MT_cost'].values
PV_Pmax = data['PV_Pmax'].values
WT_Pmax = data['WT_Pmax'].values
data['Op_cost'] = obj_func()
Opcost_max = data['Op_cost'].values

In [5]:
data['Op_cost']=round((data['Op_cost']/100),4)

In [6]:
data.head(24)

,Hour,PV_cost,WT_cost,MT_cost,Grid_cost,PV_Pmax,WT_Pmax,Pload,Op_cost
0,01H00,0.0000,0.0210,0.0823,0.033,0.00,64.04,52,0.0381
1,02H00,0.0000,0.0170,0.0823,0.027,0.00,64.32,50,0.0356
2,03H00,0.0000,0.0125,0.0831,0.020,0.00,64.64,50,0.0330
3,04H00,0.0000,0.0110,0.0831,0.017,0.00,64.68,51,0.0320
4,05H00,0.0000,0.0510,0.0838,0.017,0.00,70.72,56,0.0612
5,06H00,0.0000,0.0850,0.0838,0.029,0.00,64.68,63,0.0801
6,07H00,0.0000,0.0910,0.0846,0.033,0.00,58.92,70,0.0790
7,08H00,0.0646,0.1100,0.0854,0.054,0.40,58.24,75,0.0899
8,09H00,0.0654,0.1400,0.0862,0.215,2.36,58.60,76,0.1094
9,10H00,0.0662,0.1430,0.0862,0.572,7.92,52.64,80,0.1064
10,11H00,0.0669,0.1500,0.0892,0.572,31.00,46.68,78,0.1175
11,12H00,0.0677,0.1550,0.0900,0.572,39.20,40.60,74,0.1165
12,13H00,0.0662,0.1370,0.0885,0.215,42.60,46.68,72,0.1187
13,14H00,0.0654,0.1350,0.0885,0.572,38.80,40.60,72,0.1067
14,15H00,0.0646,0.1320,0.0885,0.286,32.48,59.00,76,0.1254
15,16H00,0.0638,0.1140,0.0900,0.279,19.80,64.84,80,0.1136
16,17H00,0.0654,0.1100,0.0908,0.086,4.40,64.60,85,0.1012
17,18H00,0.0662,0.0925,0.0915,0.059,0.40,76.52,88,0.0982
18,19H00,0.0000,0.0910,0.0908,0.050,0.00,70.12,90,0.0910
19,20H00,0.0000,0.0830,0.0885,0.061,0.00,75.80,87,0.0895
20,21H00,0.0000,0.0330,0.0862,0.181,0.00,76.16,78,0.0510
21,22H00,0.0000,0.0250,0.0846,0.077,0.00,76.44,71,0.0445
22,23H00,0.0000,0.0210,0.0838,0.043,0.00,79.72,65,0.0419
23,24H00,0.0000,0.0170,0.0831,0.037,0.00,76.60,56,0.0380

In [7]:
import pandas as pd
def obj_func(j):
    data = pd.read_csv('MG_Hourly_data.csv',encoding='latin1')
    MT_Pmax = 30
    nsum=0
    sum=0
    Ui = 1
    l=[]
    peak = ["08H00","09H00","10H00","11H00","12H00","13H00","14H00","15H00","16H00","17H00"]
    for i in range(1):
        if data['Hour'][j] in peak:
            Ui = 1
            sum1 = (Ui * data['PV_Pmax'][j] * data['PV_cost'][j]) 
            sum2 = 0
            sum3 = (Ui * data['MT_cost'][j] *  MT_Pmax)
        else:
            sum1 = 0
            sum2 = (Ui * data['WT_Pmax'][j] * data['WT_cost'][j]) 
            sum3 = (Ui * data['MT_cost'][j] *  MT_Pmax) 
        sum = sum1 + sum2 + sum3
    nsum +=  sum #operating cost
    return nsum


l=[]
data = pd.read_csv('MG_Hourly_data.csv',encoding='latin1')
for i in range(24):
    op_cost = obj_func(i)
    l.append(op_cost)
s=0
print(l)
for i in l: 
    s+=i

print("\n The total operating cost for the whole day is found to be ",round(s,2),"€.")

[3.81384, 3.5624399999999996, 3.301, 3.2044799999999998, 6.1207199999999995, 8.011800000000001, 7.89972, 2.5878400000000004, 2.740344, 3.1103039999999997, 4.7499, 5.35384, 5.4751199999999995, 5.19252, 4.753208, 3.96324, 3.01176, 9.8231, 9.10492, 8.9464, 5.09928, 4.449, 4.18812, 3.7952]

 The total operating cost for the whole day is found to be  122.26 €.